/*********************************
	ユーティリティ
*********************************/

/*********************************
	margin
*********************************/
.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml32 {
  margin-left: 32px;
}

/*********************************
	padding
*********************************/
.pt4 {
  padding-top: 4px;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pt32 {
  padding-top: 32px;
}

.pl4 {
  padding-left: 4px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.pl32 {
  padding-left: 32px;
}

/*********************************
	width
*********************************/
.w100 {
  width: 100%;
}

/*********************************
	height
*********************************/
.h64 {
  height: 64px;
}

/*********************************
	font weight
*********************************/

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

/*********************************
	text align
*********************************/

.fz12 {
  font-size: 12px;
}

.fz16 {
  font-size: 16px;
}

/*********************************
	text align
*********************************/

.text_center {
  text-align: center;
}

/*********************************
	button
*********************************/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 32px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:768px) {

  .btn {
    font-size: 16px;
    height: 40px;
    width: 100%;
    border-radius: 20px;
  }
}

/** button info */
.btn.info {
  color: #fff;
  background: #0dcaf0;
}

.btn.info:hover {
  background: #31d2f2;
}

/** button danger */
.btn.danger {
  color: #fff;
  background: #dc3545;
}

.btn.danger:hover {
  background: #bb2d3b;
}

/*********************************
	status icon
*********************************/

.status {
  font-size: 12px;
  border: 1px solid transparent;
  padding: 0px 4px;
  border-radius: 4px;
}

.status.success {
  border: 1px solid #198754;
  color: #198754;
}

.status.danger {
  border: 1px solid #DC3545;
  color: #DC3545;
}

/*********************************
	card
*********************************/
.card {
  background: #fff;
  padding: 32px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
}

/*********************************
	flex box
*********************************/
.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

@media screen and (max-width:768px) {

  .flex {
    display: block;
  }
}

/*********************************
	カーソルポインター
*********************************/
.c-pointer {
  cursor: pointer;
}

/*********************************
	エラーメッセージ
*********************************/
.error-message {
  color: #dc3545;
  font-weight: 600;
  margin-top: 4px;
}